.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner svg {
  width: 100px;
  height: 100px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .overlay {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
