.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  gap: 1rem;
}

.welcomeText {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 280px;
}
.inputContainer label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.3125rem;
}
.inputContainer input {
  font-size: 1rem;
  height: 2.5rem;
  padding: 0.3125rem 0.6rem;
  border-radius: 8px;
  border: 2px solid #a5a5a5;
}

.btnContainer {
  display: flex;
  justify-content: center;
  height: 2.5rem;
}
.btnContainer button {
  width: 35%;
  border-radius: 32px;
  border: 2px solid #a5a5a5;
  background-color: #ffffff;
}
.btnContainer button:hover {
  background-color: #cccccc3f;
}

.error {
  text-align: center;
}

.redirectText {
  margin-top: 0.3125rem;
}
.redirectText a {
  text-decoration: none;
  color: #473472;
}
.redirectText a:hover {
  color: #53629e;
}
